h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 18px;
  color: #000000;
}
p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  color: #000000;
}
.containerdiv {
  font-family: "Manrope";
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 279px;
  margin-top: 93px;
}
#span1 {
  text-decoration-line: underline;
  color: #1348d0;
}
.pad {
  margin-bottom: 24px;
}
#fg {
  text-decoration: none;
  color: #1348d0;
  padding-top: 18px;
  height: 24px;
}
#para1 {
  width: 512px;
  height: 60px;
  text-align: center;
  padding-top: 14px;
}
input {
  background-color: #ffffff;
  border: 1px solid #611e97;
  border-radius: 4px;
  width: 512px;
  height: 60px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
input:focus {
  color: #bcbcbc;
  outline: none;
  border: 2px solid #611e97;
}
#togglePassword {
  margin-left: -30px;
}
.marg {
  margin-top: 10px;
}
#cb {
  width: 512px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}
#rememberMe {
  width: 32px;
  height: 32px;
  border-radius: 10px !important;
}
#click {
  background-color: #ffce31;
  border: none;
  width: 512px;
  transition-duration: 0.4s;
  color: #000000;
}
#click:hover {
  background-color: #f8d870;
}
.flex1 {
  display: flex;
  justify-content: space-between;
}
.imgdiv {
  width: 647px;
  height: 450px;
  margin-top: 71px;
}