{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block custom_style %}
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
{% endblock %}
{% block title %}
    ICONATOR | NEW PASSWORD
{% endblock title %}
{% block content %}
    <main class="reset_password_main">
        <section class="reset_password_section1">
            <h1>New Password</h1>
            <p>For the safety of your account, please use a strong password</p>
            <form method="post" class="reset_password_form">
                {% csrf_token %}
                {{ form }}
                <button class="reset_password_btn" type="submit">Reset Password</button>
            </form>
        </section>
        <section class="reset_password_section2">
            <img src="{% static 'images/reset_password_hero.png' %}" alt="reset_password" class="reset_password_image">
        </section>
    </main>
{% endblock content %}