{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block custom_style %}
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
{% endblock %}
{% block title %}
    ICONATOR | RESET DONE
{% endblock title %}
{% block content %}
    <main class="reset_password_main">
        <section class="reset_password_section1">
            <h1>Password Reset</h1>
            <p>Your password has been reset</p>
            <h2 class="echo_message">Successfully</h2>
            <button class="reset_password_btn" type="submit"><a href="{% url 'accounts:login' %}">Continue</a></button>
        </section>
        <section class="reset_password_section2">
            <img src="{% static 'images/reset_password4.png' %}" alt="reset_password" class="reset_password_image">
        </section>
    </main>
{% endblock content %}