Hi {{ request.user.first_name}} {{ request.user.last_name}},

You recently requested to reset the password for your Iconator account. Click the link below to proceed.


{{ protocol }}://127.0.0.1:8000/accounts/password_change/{{ uid }}/{{ token }}


If you did not request a password reset, please ignore this email or reply to let us know. This password reset link is only valid for the next 30 minutes.

Thanks, the Iconator team

<!-- "email": user_email,
"domain": domain,
"site_name": site_name,
"uid": urlsafe_base64_encode(force_bytes(user.pk)),
"user": user,
"token": token_generator.make_token(user),
"protocol": "https" if use_https else "http",
**(extra_email_context or {}), -->