*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
}
/* styling the header */
body{
    width: 100%;
}
#header{
    width: 100%;
    background-color: #300F4B;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top: 0;
    height: 96px; 
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.25);
}
#header #icon{
    margin-left: 5rem;    
}
#header nav{
    display: flex;
    margin-left: 5rem;
    align-items: center;
    justify-content: space-between;
    width: 479px;
}
#header nav > a{
    color: #D7D7D7;
    font-size: 20px;
}
#header .decoration{
   position: relative;
   top: -4px;
  
}
#header .sign-in{
background-color: #300F4B;;
color: #ffffff;
border: 1px solid #FFCE31;
border-radius: 4px;
padding: 1em;
position: absolute;
top: 25px;
right: 70px;
cursor: pointer;
font-size: 16px;
font-weight: 700;
}

/* styling the main */
.main{   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1{
    display: flex;
    flex-direction: column;
    margin-top: 13rem;
    margin-left: 4rem;
    width: 25%;
}
.section1 h1{
    line-height: 54px;
    
}
.section1 p{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-weight: 500;
font-size: 18px;
line-height: 20px;
}
label{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-top: 1rem;
}
input{
    line-height: 50px;
    background: #FFFFFF;
border: 1px solid #611E97;
border-radius: 4px;
width: 25vw;
}
.btn{
    border: none;
    margin-top: 2rem;
    width: 25vw;
    background-color: #FFCE31;
    box-shadow: 0px 4px 4px rgba(48, 15, 75, 0.25);
    border-radius: 4px;
    padding: 1.3rem;
    cursor: pointer;
}
.image{
    width: 80%;
    margin-right: -5rem;
    
}
.section2{
    margin-top: 14rem;
}




/* styling the footer */
footer{
    position: fixed;
    bottom: 0;
    display: flex;
   
    justify-content: space-between;
    color: white;
    width: 100%;
    margin-bottom: 2rem;
}
hr{
  background-color: #9B9A9A;
height: 4px;
margin: 2rem 4rem;
position: relative;
top: 40px;
}
.fieldset{
font-weight: 600;
font-size: 16px;
color: #121212;
padding: 0.5rem 1.5rem;
margin-left: 4rem;
}

.decorative-icon{
    position: relative;
    top: -4px;
    left: 4px;
    background-color: #121212;
}

.all-right{
    color: #1B1B1B;
    font-weight: 400;
font-size: 20px;
margin-right: 4rem;
}

/* responsiveness */
@media screen and (max-width:768px) {
    #header{
        position: absolute;
        top: 0;
    }
#header #icon{
    margin-left: 1rem;   
}
#header nav{
    display: none;
}
#header .sign-in{
    display: none;
}
.main{   
    display: flex;
    flex-direction: column-reverse;
}
.image{
    margin: auto;
    margin-left: 12rem;
    width: 50%;
}
.section1{
    margin: 10rem 4rem 5rem;
    width: 80%;
}
input{
    width: 75vw;
}
footer{
    position: fixed;
    bottom: 0; 
}
hr{
    top: -4rem;
    
    margin: 2rem 0;
}
.btn{
        width: 75vw; 
}
.section1 h1{
    line-height: 54px;
    font-size: 30px;
    
}

}