{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block custom_style %}
  <link rel="stylesheet" href="{% static 'css/signin.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
{% endblock custom_style %}
{% block title %}
  ICONATOR | SIGN IN
{% endblock title %}
{% block content %}
  <div class="login_containerdiv">
    <div class="welcome">
      {% if messages %}
          {% for message in messages %}
              {% if message.tags == 'info' %}
                  <div class="alert_message alert_danger">
                      <strong>{{ message }}</strong>
                  </div>
              {% elif message.tags == 'success' %}
                  <div class="alert_message alert_success">
                      <strong>{{ message }}</strong>
                  </div>
              {% endif %}
          {% endfor %}
      {% endif %}
      <div class="login_pad">
        <h2 class="signin_sbt1">WELCOME BACK</h2>
        <p class="signin_details">Please enter your details</p>
      </div>
      <form action="" method="POST" class="signin_form">
        {% csrf_token %}
        <div class="marg">
          <label for="text">Username</label><br />
          <input type="text" name="username" id="username" required />
        </div>
        <div class="marg">
          <label for="password">Password</label><br />
          <input id="password" type="password" name="password1" required />
          <i class="bi bi-eye-slash" id="togglePassword"></i>
        </div>
        <div class="marg" id="cb">
          <div class="login_remember">
            <input type="checkbox" value="lsRememberMe" id="rememberMe" />
            <label id="myLabel" for="rememberMe">Remember me</label>
          </div>
          <a id="fg" href="{% url 'accounts:reset_password' %}">Forgot Password?</a>
        </div>
        <button id="click" onclick="lsRememberMe()" type="submit">log in</button>
        <div class="para1">
          <p>Don't have an account? <a class="span1" href="{% url 'accounts:signup' %}">Sign Up</a></p>
        </div>
      </form>
      <div class="login_demacator">
        <span>or</span>
      </div>
      <div class="social_login_container">
          <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="social_login">
            CONTINUE WITH FACEBOOK
            <img src="{% static 'images/facebook_icon2.svg' %}" />
          </a>
          <a href="{% provider_login_url 'google' %}" class="social_login">
              CONTINUE WITH GOOGLE
              <img src="{% static 'images/google_icon.svg' %}" />
          </a>
      </div>
    </div>
    <div class="imgdiv">
        <img id="imgimg" src="{% static 'images/signin_aside-image.png' %}" alt="signinimage" />
    </div>
  </div>
{% endblock content %}
{% block custom_js %}
  <script src="{% static 'js/login.js' %}"></script>
{% endblock custom_js %}
