{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iconator | Password reset</title>
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
</head>
<body>
    <header id="header">
        <img src="{% static 'images/logo.svg' %}" alt="Iconator" id="icon" />
    </header>

    <main class="main">
        <section class="section1">
            <h1>New Password</h1>
            <p>For the safety of your account please use a strong password</p>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button class="btn" type="submit" >Change my Password</button>
            </form>
        </section>
<section class="section2">
<img src="{% static 'images/reset_password_hero.png' %}" alt="reset_password" class="image">
</section>
</main>
<br>
<br>
</body>
</html>