*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

/* faq__section */
body{
    font-family: sans-serif;
}

.faq{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 40%;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.faq__header h1{
    font-size: 40px
}

.faq__header {
    margin: 3rem 0;
}

.faq__img {
    display: flex;
    justify-content: center;
}

.faq__img img{
    max-width: 550px;
}

.container{
    margin-top: 20px;
}

.faq__question{
    border: 1px solid #611E97;
    border-radius:7px ;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq__answer p{
    font-size: 15px;
    /* font-weight: 100; */
}
.faq__question h3,.faq__answer p{
    margin:10px 5px ;
}
.faq__answer{
    margin-top: 20px;
    background: #FFF5D6;    
    height: 0;
    border-radius: 7px;
    font-size: 20px;
    text-align: justify;
    overflow: hidden;
    transition: 0.5s;
    border: 0px solid #797878;
}


.container.active .faq__answer{
    height: 76px;
    display: block;
    border: 1px solid #797878;
}
.container .faq__icons{
    color: #611E97;
    transition: 0.5s;
    font-size: 25px
}
.container.active .faq__icons{
    transform: rotate(90deg);
    color: #292D32;
 
}
.container.active .faq__question{
    border: 1px solid #797878;
}
/* faq__section */


/* media query */
@media only screen and (max-width:768px){
        .faq__question h3{
            font-size: 14px;
        }
        .faq {
            display: flex;
            flex-direction: column-reverse;
            padding: 15px;
        }
        .faq__accordion{
            margin-top: 20px;
        }
        .faq__answer {
            font-size: 13px;
        }
        .container .faq__icons {
            color: #611E97;
            transition: 0.5s;
            font-size: 19px
        }
}
/* media query */