{% extends 'base.html' %}
{% load static %}
{% block custom_style %}
    <link rel="stylesheet" href="{% static 'css/contactUs.css' %}">
{% endblock custom_style %}
{% block title %}
    ICONATOR | CONTACT
{% endblock title %}
{% block content %}
    <div class="contact_container">
        <h3>Contact Us</h3>
    </div>
    <div class="contact_content">
        <div class="contact_content-left">
            <p> Lets hear your feedbacks, suggestions or issues on your experience with Iconator. We would love to hear you out</p>
            <form action="" method="post">
                <div class="contact_input-container">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="contact_input">
                </div>
                <div class="contact_input-container">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="contact_input">
                </div>
                <div class="contact_input-container">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" class="contact_textarea" cols="30" rows="10"></textarea>
                </div>
                <input type="submit" value="submit" class="contact_btn">
            </form>
        </div>
        <div class="contact_content-right">
            <div class="contact_information">
                <figure class="contact_icon"><img src="{% static 'images/contact_phone.svg' %}" alt="phone icon"></figure>
                <p>08033333333</p>
            </div>
            <div class="contact_information">
                <figure class="contact_icon"><img src="{% static 'images/contact_email.svg' %}" alt="email icon"></figure>
                <p>iconator@gmail.com</p>
            </div>
            <div class="contact_information">
                <figure class="contact_icon"><img src="{% static 'images/contact_address.svg' %}" alt="address icon"></figure>
                <p>24, Hilton Drive, off Maxwell Drive, Maiduguri</p>
            </div>
            <div class="contact_information">
                <figure class="contact_icon"><img src="{% static 'images/contact_facebook.svg' %}" alt="facebook icon"></figure>
                <p>@iconator</p>
            </div>
            <div class="contact_information">
                <figure class="contact_icon"><img src="{% static 'images/contact_instagram.svg' %}" alt="instagram icon"></figure>
                <p>@iconator</p>
            </div>
            <div class="contact_information">
                <figure class="contact_icon"><img src="{% static 'images/contact_twitter.svg' %}" alt="twitter icon"></figure>
                <p>@iconator</p>
            </div>
        </div>
    </div>
{% endblock content %}
