{% extends "base.html" %}
{% load static %}
{% block custom_style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/landing_page_style.css' %}">
{% endblock %}
{% block title %}
	ICONATOR | HOME
{% endblock title %}
{% block content %}
        <main>
            <div id="index_top_tab">
                <img src="{% static 'images/top_tab.svg' %}" alt="img">
                <article>
                    <h1>Bring your ideas to life with  just our Favicons</h1>
                    <p>Check  your existing FAVICON with our tool and see what can be improved</p>
                    <button><a href="{% url 'core:upload' %}">CREATE FAVICON</a></button>
                </article>
            </div>
            <div id="index_discover_bar">
                <div id="index_arrow">
                    <img src="{% static 'images/arrow.svg' %}" alt="arrow">
                </div>
                <h1>Discover 8,000+ Professional Favicon Designs</h1>
                <form action="" method="get">
                    <input type="text" name="" id="" placeholder="Search 8,000+ favicon library here">
                    <button type="submit">SEARCH</button>
                </form>
                <div id="index_discover_items_container">
                    <div class="index_discover_items">
                        <div class="index_items_image">
                            <img src="{% static 'images/Favicons.svg' %}" alt="">
                            <!-- <div class="index_overlay">
                                <div class="index_overlay_content">
                                    <div class="index_title_container">
                                        <img src="{% static 'images/preview.svg' %}" alt="">
                                        <p>PREVIEW</p>
                                    </div>
                                    <div class="index_title_container">
                                        <img src="{% static 'images/download_icon.svg' %}" alt="">
                                        <p>DOWNLOAD</p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <p class="index_items_title">Favicons</p>
                    </div>
                    <div class="index_discover_items">
                        <div class="index_items_image">
                            <img src="{% static 'images/Icons.svg' %}" alt="">
                            <!-- <div class="index_overlay">
                                <div class="index_overlay_content">
                                    <div class="index_title_container">
                                        <img src="{% static 'images/preview.svg' %}" alt="">
                                        <p>PREVIEW</p>
                                    </div>
                                    <div class="index_title_container">
                                        <img src="{% static 'images/download_icon.svg' %}" alt="">
                                        <p>DOWNLOAD</p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <p class="index_items_title">Icons</p>
                    </div>
                    <div class="index_discover_items">
                        <div class="index_items_image">
                            <img src="{% static 'images/3D-Favicons.png' %}" alt="" width="161">
                            <!-- <div class="index_overlay">
                                <div class="index_overlay_content">
                                    <div class="index_title_container">
                                        <img src="{% static 'images/preview.svg' %}" alt="">
                                        <p>PREVIEW</p>
                                    </div>
                                    <div class="index_title_container">
                                        <img src="{% static 'images/download_icon.svg' %}" alt="">
                                        <p>DOWNLOAD</p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <p class="index_items_title">3D favicons</p>
                    </div>
                    <div class="index_discover_items">
                        <div class="index_items_image" style="background-image: url('static/images/Photo.png');
                            background-repeat: no-repeat;
                            background-size: 300px;
                            background-position: 50% 40%;
                        ">
                            <!-- <div class="index_overlay">
                                <div class="index_overlay_content">
                                    <div class="index_title_container">
                                        <img src="{% static 'images/preview.svg' %}" alt="">
                                        <p>PREVIEW</p>
                                    </div>
                                    <div class="index_title_container">
                                        <img src="{% static 'images/download_icon.svg' %}" alt="">
                                        <p>DOWNLOAD</p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <p class="index_items_title">Photos</p>
                    </div>
                    <div class="index_discover_items">
                        <div class="index_items_image">
                            <img src="{% static 'images/vectors.png' %}" alt="" width="161" style="margin: 0;">
                            <!-- <div class="index_overlay">
                                <div class="index_overlay_content">
                                    <div class="index_title_container">
                                        <img src="{% static 'images/preview.svg' %}" alt="">
                                        <p>PREVIEW</p>
                                    </div>
                                    <div class="index_title_container">
                                        <img src="{% static 'images/download_icon.svg' %}" alt="">
                                        <p>DOWNLOAD</p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <p class="index_items_title">Vectors</p>
                    </div>
                </div>
            </div>
            <!-- Upload section not needed on the homepage -->
            <!-- <div id="index_upload_tab">
                <div id="index_drop_zone" style="background-image: url('static/images/upload_background.svg');">
                    <img src="{% static 'images/upload.svg' %}" alt="">
                    <p>Drag and drop or <button id="index_browse">browse</button> files</p>
                </div>
                <button id="index_generate">GENERATE FAVICONS</button>
            </div> -->
            <div id="index_generate_tab">
                <h1>Generate Custom Favicon with Iconator Free Icon Generator</h1>
                <br>
                <p>Iconator is a free online Favicon generator with 8,000+ templates that anyone can use to bring to life a compelling, unique icon in minutes.</p>
                <video src="" controls poster=""></video>
            </div>
            <div id="index_features_tab">
                <h1>THE FEATURES THAT YOU NEED</h1>
                <p>Let us add glamour to your web page! Here is a list of our offerings!</p>
                <div id="index_features_items_container">
                    <div class="index_features_items">
                        <div class="index_items_image">
                            <img src="{% static 'images/free_favicon_maker.svg' %}" alt="">
                        </div>
                        <p class="index_items_title">FREE FAVICON MAKER</p>
                        <p class="index_items_paragraph">Use Iconator  brand identity builder to get a recognizable favicon for your website and make your website stand out on browsers!</p>
                    </div>
                    <div class="index_features_items">
                        <div class="index_items_image">
                            <img src="{% static 'images/zip_file_for_download.svg' %}" alt="">
                        </div>
                        <p class="index_items_title">ZIP FILE FOR DOWNLOAD</p>
                        <p class="index_items_paragraph">Free Zip file icons in various UI design styles for web, mobile. Download static and animated Zip file vector icons for free in PNG, SVG, GIF formats.</p>
                    </div>
                    <div class="index_features_items">
                        <div class="index_items_image">
                            <img src="{% static 'images/favicon_upload.svg' %}" alt="">
                        </div>
                        <p class="index_items_title">FAVICON UPLOAD</p>
                        <p class="index_items_paragraph">Quickly generate your favicon from an image by uploading your image below. Download your favicon ... Drag and drop your file here or click here to upload.</p>
                    </div>
                    <div class="index_features_items">
                        <div class="index_items_image">
                            <img src="{% static 'images/ownership_of_copyright.svg' %}" alt="">
                        </div>
                        <p class="index_items_title">OWNERSHIP OF COPYRIGHT</p>
                        <p class="index_items_paragraph">You get all the copyrights for your  favicons to freely use them for any commercial or personal purposes.</p>
                    </div>
                    <div class="index_features_items">
                        <div class="index_items_image">
                            <img src="{% static 'images/free_favicon_edit.svg' %}" alt="">
                        </div>
                        <p class="index_items_title">FREE FAVICON EDIT</p>
                        <p class="index_items_paragraph">Skip scrupulously drawing favicons and converting them to suitable formats. With Iconator, you don’t need any skills or extra tools to turn your ideas into beautiful favicons.</p>
                    </div>
                    <div class="index_features_items">
                        <div class="index_items_image">
                            <img src="{% static 'images/favicon_html_code.svg' %}" alt="">
                        </div>
                        <p class="index_items_title">FAVICON HTML CODE</p>
                        <p class="index_items_paragraph">A HTML favicon appears in the tab bar of your browser next to the name of a website. </p>
                    </div>
                </div>
            </div>
            <img src="{% static 'images/stats_shape.svg' %}" alt="" id="index_stats_shape">
            <div id="index_stats_tab" style="background-image: url('static/images/stats_background.svg');">
                <div class="index_stats_containers">
                    <h2>40M</h2>
                    <br>
                    <p>FAVICON CREATED</p>
                </div>
                <div class="index_stats_containers">
                    <h2>15+</h2>
                    <br>
                    <p>YEARS OF EXPERIENCE</p>
                </div>
                <div class="index_stats_containers">
                    <h2>500</h2>
                    <br>
                    <p>FAVICONS PER HOUR</p>
                </div>
            </div>
            <div id="index_customer_tab">
                <h1>What Our Customers Say?</h1>
                <div id="index_card_container">
                    <div class="index_inactive">
                        <p class="index_open_quote">“</p>
                        <p class="index_paragraph">I have visited many favicon websites, including online design websites, real local branding companies.
                            ICONATOR is the one that off</p>
                        <p class="index_name">Steven Byran</p>
                    </div>
                    <div id="index_active" style="background-image: url('/static/images/card_background.svg');">
                        <p class="index_open_quote">“</p>
                        <p class="index_paragraph">I have visited many favicon websites, including online design websites, real local branding companies. ICONATOR is the one that offers spot-on designs through some simple clicks.</p>
                        <img src="{% static 'images/card_img.png' %}" alt="">
                        <p class="index_name">Steven Byran</p>
                    </div>
                    <div class="index_inactive">
                        <p class="index_open_quote">“</p>
                        <p class="index_paragraph">I have visited many favicon websites, including online design websites, real local branding companies. ICONATOR is the one that offer</p>
                        <p class="index_name">Steven Vivian</p>
                    </div>
                </div>
            </div>
        </main>
{% endblock content %}
{% block custom_js %}
	<script src="{% static 'js/landing_page.js' %}"></script>
{% endblock custom_js %}