{% extends 'base.html' %}
{% load static %}
{% block custom_style %}
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
{% endblock custom_style %}
{% block title %}
    ICONATOR | ABOUT US
{% endblock title %}
{% block content %}
    <main>
        <!-- faq section -->
        <section class="faq__section">
            <div class="faq">
                <div class="faq__accordion">
                    <div class="faq__header">
                        <h1>FAQs</h1>
                    </div>
                    <div class="faq_container">
                        <div class="faq__question">
                            <h3>How long does it take to create a favicon?</h3>
                            <ion-icon name="chevron-forward-outline" class="faq__icons"></ion-icon>
                        </div>
                        <div class="faq__answer">
                            <p>
                                Just few minutes! The well designed templates,icons, and editing tools help you make a
                                favicon with ease.
                            </p>
                        </div>
                    </div>
                    <div class="faq_container">
                        <div class="faq__question">
                            <h3>Do I have to register to use iconator?</h3>
                            <span>
                                <ion-icon name="chevron-forward-outline" class="faq__icons"></ion-icon>
                            </span>
                        </div>
                        <div class="faq__answer">
                            <p>You can directly go to the iconator editor to start your design. But when you make some
                                changes you have to register and
                                save your project to enable editing at any time</p>
                        </div>
                    </div>
                    <div class="faq_container">
                        <div class="faq__question">
                            <h3>Can I upload images as favicons?</h3>
                            <ion-icon name="chevron-forward-outline" class="faq__icons"></ion-icon>
                        </div>
                        <div class="faq__answer">
                            <p>Yes, you can upload images as favicons. Just make sure you have the right file format</p>
                        </div>
                    </div>
                    <div class="faq_container">
                        <div class="faq__question">
                            <h3>What file do I get in return?</h3>
                            <ion-icon name="chevron-forward-outline" class="faq__icons"></ion-icon>
                        </div>
                        <div class="faq__answer">
                            <p>You will get a zip file with all the files you need to use your favicon. You can upload
                                this file to your website or download it and use it on your website.</p>
                        </div>
                    </div>
                    <div class="faq_container">
                        <div class="faq__question">
                            <h3>Do I own the rights to my favicon?</h3>
                            <ion-icon name="chevron-forward-outline" class="faq__icons"></ion-icon>
                        </div>
                        <div class="faq__answer">
                            <p>
                                Yes, you own the rights to your favicon. You can use it on any website you want.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- faq img -->
                <div class="faq__img">
                    <img src="{% static 'images/faq_page_hero.png' %}" alt="hero image">
                </div>
                <!-- faq img ending-->
            </div>
        </section>
        <!-- faq section -->
    </main>
{% endblock %}
{% block custom_js %}
    <!-- ICON CDN -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- FAQ JS -->
    <script src="{% static 'js/faq.js' %}"></script>
{% endblock custom_js %}