/* styling the header */
#header{
    width: 100%;
    background-color: #300F4B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5rem;
    height: 96px;
}
.header_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.header_nav > a{
    color: #D7D7D7;
    font-size: 20px;
}
.decoration{
    position: relative;
    top: -4px;
}
.header_user_details {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header_user_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.header_user_img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.header_default_user_img {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    background-color: #FFCE31;
    color: #300F4B;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}
.header_user_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
    color: #fff;
}
.header_fullname {
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
}
.header_fullname i {
    position: relative;
    top: -2px;
    left: 1px;
}
.header_username {
    font-size: 10px;
    font-weight: 500;
}
.header_active_notification {
    display: inline-block;
    margin-top: -.5rem;
    margin-left: .5rem;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #0CF907;
}
.header_auth_btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.header_auth_btn {
    background-color: #FFCE31;
    color: #000;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: .5rem 1.3rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}
.header_auth_btn:hover {
    border-color: #ffce31;
    background-color: transparent;
    color: #ffce31;
}
.header_hamburger {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    background-color: transparent;
    color: #FECD32;
}
@media all and (max-width: 976px) {
    #header {
        padding-inline: 1rem;
    }
    .header_nav,
    .header_user_details,
    .header_auth_btns {
        display: none;
    }
    .header_hamburger {
        display: unset;
    }
}
/* styling the footer */
#footer{
    background-color: #310F4C;
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    padding: 3rem 5rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
}
.first-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    justify-content: start;
    gap: 1.5rem;
}
.footer_cards{
    color: #ffffff;
    line-height: 1.3;
}
.footer_cards h1{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.footer_card_items {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .7rem;
}
.footer_card_items li{
    font-size: 16px;
    font-weight: 400;
}
.footer_social_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.footer_social_icons img{
    margin-top: .5rem;
    width: 30px;
    height: 30px;
}
.footer_subsection{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: .8rem;
    margin-top: 1.2rem;
}
.footer_select_container {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    padding: .1rem 2rem;
    border-radius: 4px;
    border: 2px solid #fff;
}
.custom_select {
    padding: .4rem 1rem;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.custom_select:focus {
    outline: none;
}
.custom_select:hover {
    color: #310F4C;
}
.footer_last_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 400;
}
@media all and (max-width: 768px) {
    #footer {
        padding: 2rem 1.5rem;
        margin-top: 1rem;
    }
    .first-section{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer_cards h1 {
        font-size: 20px;
    }
    .footer_card_items li {
        font-size: 14px;
    }
    .footer_social_icons {
        gap: 1rem;
    }
    .footer_social_icons img {
        width: 22px;
        height: 22px;
    }
    .footer_select_container {
        padding: .1rem 1rem;
    }
    .custom_select {
        padding: .4rem .6rem;
        font-size: 14px;
    }
    .footer_last_section {
        font-size: 14px;
    }
    .footer_last_section img {
        position: relative;
        left: -1.5rem;
    }
}
/* SIDEBAR STYLES */
.header_sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    justify-content: center;
    background: #611E97;
    padding-block: 1.2rem 2rem;
    border-radius: 0 20px 20px 0;
    overflow-x: hidden;
    transition: all .7s ease-in-out;
    transform: translateX(-100%);
    z-index: 100;
}
.close_sidebar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #FECD32;
    padding: .3rem;
    background-color: transparent;
    color: #FECD32;
    margin-bottom: 3rem;
    margin-right: .5rem;
    justify-self: end;
}
.header_sidebar_nav {
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.7rem;
    width: 250px;
}
.header_sidebar_nav p {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #9B9A9A;
    text-align: center;
    text-transform: capitalize;
}
.header_sidebar_nav p.active {
    padding-block: 1rem;
    background-color: #FFEFBA;
    color: #1B1B1B;
    border-left: 5px solid #FECD32;
}
.header_sidebar .header_user_details,
.header_sidebar .header_auth_btns {
    display: flex;
    padding-inline: 1.2rem;
    justify-self: center;
}
.header_sidebar .header_auth_btns {
    gap: .5rem;
}
.open_sidebar {
    transform: translateX(0);
}
/* BODY MODAL ON OPEN SIDEBAR */
.body_modal::after {
    position: fixed;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .2s ease-in-out;
    z-index: 50;
}