@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');


html, 
body {
    margin: 0;
    box-sizing: 0;
    font-family: 'Manrope', sans-serif;
}
  
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    margin: 3rem 4rem;
    align-items: center;
    justify-content: center;
  }
  .left img{
    width: 100%;
    object-fit: cover;
  }
  h1{
    color: #000;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
  }
  .login-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding: 0rem;
    background: #ffffff;
  }
  .form-input{
    background: #ffffff;
    padding: .5rem 1rem;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #611E97;
    font-size: 20px;
  }
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  .valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
  }
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  .invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
  }

  label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
  }
  #pswd{
    font-size: 16px !important;
    font-weight: 700;
  }
  .or{
    text-align: center;
  }
  .or p{
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    margin: 0px auto;
  }
  .form-button-one,
  .form-button-two{
    color: #1B1B1B;
    cursor: pointer;
    padding-block: 1rem;
    width: 100%;
    border-radius: 4px;
  }
  .form-button-one{
    background-color: #FFCE31;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
  }
  .btn-1{
    width: 100%;
    margin-bottom: 0px;
  }
  .form-button-two{
    background-color: #ffffff;
    border: 1px solid #611E97;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
  }
  .form-button-two img{
    width: 28px;
    height: 28px;
    padding-left: 5px;
  }
  .form-footer{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    text-align: center;
    margin-top: .6rem;
  }
  .form-footer a{
    color: #4787F3;
    text-decoration-line: underline;
  }
  form i {
    margin-left: -30px;
    cursor: pointer;
}


  /* Mobile Responsiveness */

@media only screen and (max-width:768px) {
    body {
        display: flex;  
    }
    .grid{
        grid-template-columns: 1fr;
    }
    h1{
        text-align: center;
        font-size: 24px;
    }
    label{
        font-size: 12px;
    }
    .form-button-one,
    .form-button-two {
        font-size: 10px;
    }
    .btn-1{
        margin-bottom: 12px;
    }
    .form-button-two img{
        width: 17px;
        height: 17px;
        padding-left: 5px;
    }
    .form-footer{
        font-size: 12px;
    }
    .form-footer a{
        font-size: 16px;
    }
}



  