
body{
  font-family: 'Manrope';
  width: 100%;
  background-color: #fff;
  Font-size: 16px;
}

.signup_container {
  display: flex;
  margin: 2rem 4rem;
  /* align-items: center; */
  /* justify-content: center; */
}
.signup_login_section {
  flex-basis: 50%;
}

.signup_image {
  width: 100%;
  object-fit: cover;
  flex-basis: 50%;
    padding: 6rem 1rem;
}
.signup_h1 {
  color: #000;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}
.signup_login-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
  background: #ffffff;
}
.signup_form-input {
  background: #ffffff;
  padding: .7rem 1.3rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #611E97;
  font-size: 18px;
}
.signup_form-input:focus {
  outline: none;
  padding: 12px;
  font-size: 18px;
  border: 2px solid #611e97;
}
.signup_message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}
.signup_message p {
  padding: 10px 35px;
  font-size: 18px;
}
/* Add a green text color and a checkmark when the requirements are right */
.signup_valid {
  color: green;
}
.signup_valid:before {
  position: relative;
  left: -35px;
  content: "&#10004;";
}
/* Add a red text color and an "x" icon when the requirements are wrong */
.signup_invalid {
  color: red;
}
.signup_invalid:before {
  position: relative;
  left: -35px;
  content: "&#10006;";
}
.signup_field-icon {
  float: right;
  margin-right: -28px;
  margin-top: -42px;
  position: relative;
  z-index: 2;
}
.signup_login_form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  width: 100%;
}
.signup_or_container {
  text-align: center;
}
.signup_or_text {
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  margin: 27px auto;
}
.signup_form-button-one,
.signup_form-button-two {
  color: #1B1B1B;
  cursor: pointer;
  padding-block: 1rem;
  width: 100%;
  border-radius: 4px;
}
.signup_form-button-one {
  background-color: #FFCE31;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.signup_btn-1 {
  width: 100%;
  padding-inline: 2rem;
  margin-bottom: 17px;
}
.signup_form-button-two {
  background-color: #ffffff;
  border: 1px solid #611E97;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}
.signup_form-button-two img {
  width: 28px;
  height: 28px;
  padding-left: 5px;
}
.signup_form-footer {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
  text-align: center;
}
.signup_form-footer a {
  color: #4787F3;
  text-decoration-line: underline;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  box-shadow: 0px 8px 8px -8px rgba(1, 1, 1, 0.8);
}
@media (max-width: 768px) {
  .signup_container {
    flex-direction: column;
  }

  .signup_image {
    flex-basis: 100%;
    object-fit: contain;
  }

  .signup_login-form {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    background: #ffffff;
  }

  .signup_form-input {
    background: #ffffff;
    padding: .7rem 1.3rem;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #611E97;
    font-size: 12px;
  }

  .signup_form-input:focus {
    outline: none;
    padding: 12px;
    font-size: 12px;
    border: 2px solid #611e97;
  }

  .signup_message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }

  .signup_message p {
    padding: 10px 35px;
    font-size: 12px;
  }

  .signup_valid {
    color: green;
  }

  .valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
  }

  .signup_invalid {
    color: red;
  }

  .signup_invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
  }

  .signup_field-icon {
    float: right;
    margin-right: -28px;
    margin-top: -42px;
    position: relative;
    z-index: 2;
  }

  .signup_login_form label {
    display: flex;
    flex-direction: column;
  }
}