*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Manrope', sans-serif;
    width: 100%;
    overflow-x: hidden;
    background-color: #fff;
    color: #1B1B1B;
    font-size: 16px;
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: inherit;
}
@media all and (max-width: 768px) {
    body {
        overflow-x: clip;
    }
}