.reset_password_main{
    display: grid;
    grid-template-columns:1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 4rem;
}
.reset_password_section1 h1 {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 36px;
    color: #000;
}
.reset_password_section1 p{
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 18px;
}
.reset_password_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.reset_password_form label{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: -.3rem;
}
.reset_password_form input{
    border: 1px solid #611E97;
    box-shadow: 0px 8px 8px -8px rgba(1, 1, 1, 0.8);
    border-radius: 4px;
    width: 100%;
    padding: .7rem 1.3rem;
}
.reset_password_form input:focus {
    outline: none;
    border: 2px solid #611e97;
}
.reset_password_btn{
    background-color: #FFCE31;
    border: none;
    font-weight: 600;
    font-size: 16px;
    margin-top: 1rem;
    color: #1B1B1B;
    cursor: pointer;
    padding-block: .9rem;
    width: 100%;
    border-radius: 4px;
}
.reset_password_section2 {
    display: grid;
    place-items: center;
}
.reset_password_image{
    width: 70%;
}
.helptext {
    display: none;
}
.echo_message {
    font-size: 3.5rem;
}
@media screen and (max-width:768px) {
    .reset_password_main {
        grid-template-columns: auto;
        gap: 3rem;
        padding: 2rem 1rem;
    }
    .reset_password_section2 {
        grid-row: 1;
    }
    .reset_password_section1 h1 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    .reset_password_section1 p {
        margin-bottom: 1.5rem;
        font-size: 1rem;
    }
    .echo_message {
        font-size: 2.5rem;
    }
}