/*============================================
CUSTOM STYLES
============================================*/
.section_center {
    width: 100%;
    padding: 2rem 4rem;
}
.section_center:first-of-type {
    padding-top: 4rem;
}
.btn_gold {
    background: #FFCE31;
    color: #1B1B1B;
    margin-top: 1rem;
    padding: .5rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    width: max-content;
    cursor: pointer;
}
@media all and (max-width: 768px) {
    .section_center {
        padding: 2rem 1rem;
    }
    .btn_gold {
        font-size: 1rem;
        padding: .5rem 1.2rem;
    }
}
/*============================================
UPLOAD SECTION
============================================*/
.upload_form {
    background-color: #310F4C;
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;  
}
.upload_form h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.upload_label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 350px;
}
.upload_label.over {
    background-color: #e2e2e2;
}
.upload_form .btn_gold {
    align-self: center;
}
.upload_label input {
    display: none;
}
.preview_upload {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.preview_img {
    margin-top: 1rem;
    width: 70px;
    height: 70px;
    background: white;
}
.preview_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.isUploading {
    color: rgb(194, 194, 194);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
}
.info {
    display: block;
    text-align: center;
    margin-top: 1rem;
}
@media all and (max-width: 768px) {
    .upload_form {
        padding-inline: 1rem;
    }
    .upload_form h1 {
        font-size: 1.5rem;
    }
    .upload_label {
        height: 200px;
    }
    .preview_img {
        width: 50px;
        height: 50px;
    }
    .info {
        font-size: .8rem;
    }
}
/*============================================
FAVICONS SECTION
============================================*/
.list_text {
    font-weight: 600;
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
    color: #000;
}
.favicons_list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.favicon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #fff;
    padding: 1.5rem;
    border: 1px solid #BA68C8;
    box-shadow: 0px 4px 16px #BA68C8;
    border-radius: 10px;
}
.favicon_img{
    width: 120px;
    height: 120px;
    padding: 1rem;
    background: linear-gradient(146.16deg, #FFFFFF -7.93%, rgba(255, 255, 255, 0) 120.02%);
    border: 1px solid #FFE798;
    box-shadow: inset 0px 8px 28px rgba(252, 255, 181, 0.5), inset 0px 8px 24px rgba(227, 212, 129, 0.5);
    border-radius: 5px;
}
.favicon_img img {
    width: 100%;
    height: 100%;
}
.favicon_info {
    flex: 1;
}
.favicon_info h2 {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
}
.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btns a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.style_icon {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-inline-end: 10%;
}
@media all and (max-width: 768px) {
    .list_text {
        font-size: 1.5rem;
    }
    .favicons_list {
        gap: 1.5rem;
    }
    .favicon {
        padding: .8rem;
        gap: 1rem;
    }
    .favicon_img {
        width: 80px;
        height: 80px;
    }
    .favicon_info h2 {
        font-size: .8rem;
    }
    .btns a {
        gap: .2rem;
        font-size: .7rem;
    }
    .btns img {
        width: .7rem;
        height: .7rem;
    }
    .style_icon img {
        width: 70px;
    }
}
/*============================================
INSTRUCTIONS SECTION
============================================*/
.favicon_instructions {
    background: #310F4C;
    border-radius: 10px;
    padding: 2rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}
.favicon_instructions h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
.favicon_instructions ul {
    list-style-position: inside;
    padding: 1rem;
}
.html_code {
    margin-block: 1rem;
    padding: 1.5rem;
    background: #FFFFFF;
    border-radius: 20px;
    color: #000;
    font-size: 20px;
}
@media all and (max-width:768px) {
    .favicon_instructions {
        padding-inline: 1rem;
        font-size: 1rem;
    }
    .favicon_instructions h2 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .favicon_instructions ul {
        padding: .5rem;
    }
    .html_code {
        padding: .7rem;
        font-size: .8rem;
    }
}