{% load static %}
<footer id="footer">
    <section class="first-section">
        <div>
            <h1>Product</h1>
            <p>Favicon Generator</p>
            <p>Favicons for good web starters</p>
            <p>HTML Code Download</p>
            <p>Private Policy</p>
        </div>
        <div>
            <h1>Company</h1>
            <p>About</p>
            <p>Our Team</p>
            <p>Library</p>
            <p>Private Policy</p>
        </div>
        <div>
            <h1>Help & Support</h1>
            <p>Iconator Community</p>
            <p>FAQs</p>
            <p>Report Bug</p>
            <p>Resources</p>
        </div>
        <div>
            <h1>Contact Us</h1>
            <p>Contact@iconator.com</p>
            <p>(+234) 804 6709 389</p>
            <p>24, Idowu Martins Street, Ikeaja Lagos</p>
            <p>
                <img src="{% static 'images/facebook_icon.svg' %}" alt="facebook-icon" />
                <img src="{% static 'images/instagram_icon.svg' %}" alt="instagram-icon" />
                <img src="{% static 'images/twitter_icon.svg' %}" alt="twitter-icon" />
                <img src="{% static 'images/youtube_icon.svg' %}" alt="youtube-icon" />
            </p>
        </div>
    </section>
    <fieldset>
        <p>English (US)<img src="{% static 'images/decorative_icon.svg' %}" alt="just_decoration" class="decoration" /></p>
    </fieldset>
    <section class="second-section">
        <img src="{% static 'images/logo_2.svg' %}" alt="icon2"/>
        <p>All rights reserved 2022</p>
    </section>
</footer>